<div class="container text-xl-center">
    <div class="row bg-faded">
        <div class="card-group">
            <div class="card">
                <img src="../../../assets/piedra-papel-tijera--644x390.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Piedra, papel o tijera</h5>
                    <p class="card-text">El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel y el papel envuelve a la piedra.</p>
                    <button class="btn btn-outline-success">Ir a Piedra, papel o tijera</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/ta-te-ti.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ta Te Ti</h5>
                    <p class="card-text">El tres en línea es un juego de lápiz y papel entre dos jugadores: O y X, que marcan los espacios de un tablero de 3×3 alternadamente.</p>
                    <button class="btn btn-outline-success">Ir a Ta Te Ti</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/memotest.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memotest</h5>
                    <p class="card-text">El Memotest es un juego maravilloso que no sólo permite al niño desarrollar su memoria, orientarse en el espacio, el reconocimiento visual, entre otros, sino que además facilita la incorporación de conocimientos y saberes de la cultura
                        general de manera lúdica.</p>
                    <button class="btn btn-outline-success">Ir a Memotest</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>