<div class="container text-center d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="text-center">
            <img src="../../../assets/profile.png" class="card-img-top img-thumbnail" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Mariano García Mastronardi</h5>
            <p><small>marianogmastronardi@gmail.com</small></p>
            <hr>
            <div class="card-text">
                <h4>Quizz</h4>
                <small>Juego didactico de preguntas y respuestas, donde gana quien mas sabe</small>
            </div>
        </div>
        <div class="card-body">
            <a routerLink="/home" class="card-link">Ir a Home</a>
            <a routerLink="/home" class="card-link">Ir a mi juego</a>
        </div>
    </div>
</div>