<div class="container mt-5">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-outline-success mt-2 mb-5 mr-5 ml-5" [routerLink]="'/home'">Ir a Home</a>
        <a class="btn btn-outline-success mt-2 mb-5 mr-5 ml-5" [routerLink]="'/survey'">Ir a Encuesta</a><br>
    </div>
    <div class="alert alert-primary" *ngIf="sala.resultado.length > 0" role="alert">
        {{ sala.resultado }}
    </div>
    <table class="table table-bordered border-dark w-auto">
        <tbody>
            <tr>
                <td><img *ngIf="tablaMemo.a1" [src]="tablaMemo.fichas.a1" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('a1$'+sala.tablaMemo.fichas.a1)" *ngIf="!tablaMemo.a1">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.a2" [src]="tablaMemo.fichas.a2" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('a2$'+sala.tablaMemo.fichas.a2)" *ngIf="!tablaMemo.a2">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.a3" [src]="tablaMemo.fichas.a3" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('a3$'+sala.tablaMemo.fichas.a3)" *ngIf="!tablaMemo.a3">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.a4" [src]="tablaMemo.fichas.a4" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('a4$'+sala.tablaMemo.fichas.a4)" *ngIf="!tablaMemo.a4">Pulsar</button>
                </td>
            </tr>
            <tr>
                <td><img *ngIf="tablaMemo.b1" [src]="tablaMemo.fichas.b1" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('b1$'+sala.tablaMemo.fichas.b1)" *ngIf="!tablaMemo.b1">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.b2" [src]="tablaMemo.fichas.b2" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('b2$'+sala.tablaMemo.fichas.b2)" *ngIf="!tablaMemo.b2">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.b3" [src]="tablaMemo.fichas.b3" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('b3$'+sala.tablaMemo.fichas.b3)" *ngIf="!tablaMemo.b3">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.b4" [src]="tablaMemo.fichas.b4" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('b4$'+sala.tablaMemo.fichas.b4)" *ngIf="!tablaMemo.b4">Pulsar</button>
                </td>
            </tr>
            <tr>
                <td><img *ngIf="tablaMemo.c1" [src]="tablaMemo.fichas.c1" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('c1$'+sala.tablaMemo.fichas.c1)" *ngIf="!tablaMemo.c1">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.c2" [src]="tablaMemo.fichas.c2" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('c2$'+sala.tablaMemo.fichas.c2)" *ngIf="!tablaMemo.c2">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.c3" [src]="tablaMemo.fichas.c3" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('c3$'+sala.tablaMemo.fichas.c3)" *ngIf="!tablaMemo.c3">Pulsar</button>
                </td>
                <td><img *ngIf="tablaMemo.c4" [src]="tablaMemo.fichas.c4" alt=""><button class="btn btn-outline-success" [disabled]="!habilitado" (click)="pulsar('c4$'+sala.tablaMemo.fichas.c4)" *ngIf="!tablaMemo.c4">Pulsar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-chat-firestore [juego]="sala.nombreJuego"></app-chat-firestore>